body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #303030;
  font-family: sans-serif;
}

.App-appFrame-1 {
  min-height: 100vh;
}

.tasks-card {
  margin: 20px;
  padding: 0;
}

.tasks-card h2 {
  margin: 20px;
  margin-bottom: 16px;
}

.tasks-card .task {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.tasks-card .task:not(:last-child) {
  border-bottom: 1px solid #212121;
}

.task-container {
  flex: 1;
  outline: none;
  border: 0;
  width:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.task-description {
  color: #eeeeee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-top:2px;
  margin-bottom: 0px;
}

.tasks-card .task .task-title {
  flex: 1;
  outline: none;
  border: 0;
  font-size: 16px;
  width: 100%;
}

.tasks-card .task.completed .task-title {
  opacity: 0.3;
  text-decoration: line-through;
}

.tasks-card .task.completed .task-description {
  opacity: 0.3;
  text-decoration: line-through;
}

.tasks-card .task.selected, .tasks-card .task.selected input {
  background-color: #212121;
}

.tasks-card .task .chip-container {
  display: flex; 
  align-items: center;
  margin-right: 10px;
}

.child-space {
  margin-right: 30px;
}

input {
  background-color: #424242;
  color: #fafafa;
}